<!-- Default home page -->
<link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!DOCTYPE HTML>
<html>
	<head>
		<title>Explore Supernovas</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/styles/main.css" />
	</head>
	<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>“The nitrogen in our DNA, the calcium in our teeth,
              the iron in our blood, the carbon in our apple pies were made in the interiors of collapsing stars. We are made of starstuff.”</h1>
            <h2>- Carl Sagan</h2>
						<a href="/table" class="button button-white js-touch-effect">Explore Supernovas</a>
					</header>

				<!-- Footer -->
					<footer id="footer">

					</footer>

			</div>
		</div>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script>
			window.onload = function() { document.body.className = ''; }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>
